@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #f4efe3;
  --dark-theme-color: #333; /* Adjust this to match your dark theme preference */
  --gradient-light: linear-gradient(135deg, #f5f3ee 100%, #e0d4a3 0%);
  --gradient-dark: linear-gradient(135deg, #333 0%, #555 100%);
}

body {
  color-scheme: light dark;
  background: var(--gradient-light);
}

.dark {
  background: var(--gradient-dark);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #000;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #000;
}
